{% extends 'my_page/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<!--enctype="multipart/form-data" данный атребут обязательный если -->
<!--на странице передаются фото любо другие файлы-->
<form action="{% url 'add_page' %}" method="post" enctype="multipart/form-data">
<!--  action - это атрибут формы, который говорит к какому url мы должны
обратиться для обработки этой формы.
{% url 'add_page' %} - отсылка на url адрес по имени.-->
  {% csrf_token %}
<!--  {% csrf_token %} служит для защиты от csrf атак это когда,
 злоумышлиник пытается мою форму по внешнему виду создать на своем сайте
  создается скрытый токен и обнавляется каждый раз при обновлении сайта.
  И если токен совпадает, то форма обрабатывается если нет -->
<!--  {{ form.as_p }}-->
<!--  {{ form.as_p }} Позволяет отображать все поля формы через тег абзаца р.
as_p - это функция. Но мы ее не вызываем, а передаем. -->

<!--  Формируем сами заголовок title-->
<!--    <p><label class="form-label" for="{{ form.title.id_for_label }}">{{form.title.label}}: </label>{{ form.title }}</p>-->
<!--  Располагаем возможные ошибки при вводе заголовка-->
<!--    <div class="form-error">{{ form.title.errors }}</div>-->

<!--  Но так обрабатывать каждое поле формы долго. Можно просто перебрат форму в цикле for-->

  <div class="form-error">{{ form.non_field_errors }}</div>

  {% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

  <button type="submit">Add</button>
</form>
  {% endblock %}
