{% extends 'my_page/base.html' %}

{% block content %}
<ul class="list-articles">
	{% for p in posts %}
			<li><div class="article-panel">
<!--				p.city это мы обращаемся к атребуту city записи в модели площадки.-->
<!--				Так как это внешний ключ, то он выводит название соответствующей записи -->
<!--				из таблицы города. Но так как мы переопределили метор __str__ в модели -->
<!--				города, мы получаем название города. -->
	<p class="first">City: {{p.city}}</p>
	<p class="last">Date: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
</div>

				{% if p.photo %}
<!--				строчка src="{{p.photo.url}}". Атребут url возвращает url адрес путем прибавления -->
<!--				в начало пути из переменной MEDIA_URL которая определена в файле settings-->
				<p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>

				{% endif %}

				<h2>{{p.title}}</h2>
	{% autoescape on %}
	{{p.content|linebreaks|truncatewords:50}}
	{% endautoescape %}
			<div class="clear"></div>
			<p class="link-read-post"><a href="{{ p.get_absolute_url }}">See all page</a></p>
			</li>
	{% endfor %}
</ul>
{% endblock %}